<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/youtube.css">
    <title>YouTube Downloader</title>
</head>
<body>
<div class="navbar"></div>
        <ul>
           <li><a href="http://127.0.0.1:5000/" class="active">YouTube to MP4</a></li>
            <li><a href="http://127.0.0.1:5000/audio">YouTube to MP3</a></li>
        </ul>
    <form action="/audioDownload" method="post"><h2>Audio Downloader</h2>
          <h3>Convert and download MP3 from YouTube videos </h3>
    <div class="main">
        <input type="text" name="link" placeholder="Paste your link here...." /><br>
        <input id="button" type="submit" value="Download!">
    </div>
    </form>

</body>
</html>